<h1>Listing prices</h1>

<table border=1 cellpadding = 4 >
  <tr>
    <th>Sum</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td align='center'><%= price.category.name %></td>
    <td align='center'><%= price.sum %></td>
    <td><%= link_to 'Show', price %></td>
    <td><%= link_to 'Edit', edit_price_path(price) %></td>
    <td><%= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>



<%= link_to 'New Price', new_price_path %>
<%= link_to 'Category List', categories_path %>
