<h1>Listing categories</h1>

<table border=1 cellpadding=4>
  <tr>
    <th> id </th>
    <th>Name</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    
    <td align='center'><%= category.name %></td>
    <% category_parent = (@categories.select{ |i| (i.id) == category.parent_id }) %>
    
    <td align='center'> <%= category_parent[0].name unless  category_parent .empty? %></td> 
   
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Category', new_category_path %>
<%= link_to 'Price', prices_path%>  

<p><p><p><p><p><p><p><p><p>       


<h3><font face="verdana"><font size="5"><strong><font color="#3366ff"><%= @advice %> </font></strong></font></font></h3>




